.sobreEncriptador {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* .divcontainer__input-resultado--encriptador {
    display: flex;
} */

.div__containerDivTextarea-Encriptador{
    display: flex;
    justify-content: center;
    width: 100%
}
.div__inputingresartexto--encriptador {
    align-items: center;
    display: flex;
    justify-content: center;
}

.input__ingresartexto-encriptador {
    height: 48px;
    width: 323px;
    margin-left: 10px;
    margin-right: 10px;
    top: 152px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 20px;
    border-color: rgb(0, 157, 255);
    border-style: groove; 

}

.input__ingresartexto-encriptador:focus {
    outline-color: rgb(0, 255, 102);

}

.img__borrar{
    transition: all 1s ease-in-out;
    width: 40px;
    height: 40px;
    /* background-color: #f8f8f8; */
    background-color: #d0d0d0;
    padding: 5px;
    border-radius: 21px;
    margin-right: 4px;
}

.div__textarea-encriptador {
    position: relative;
    background-color: rgb(220, 220, 220);
    /* background-color: rgb(58, 147, 255); */
    border-radius: 32px;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 290px;
    flex-wrap: wrap;
    margin-top: 30px;

}


.p__ningunmensaje-encriptador {
    transition: all 1s ease-in-out ;
    padding-top: 32px;
    padding-bottom: 15px;
    width: 263px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}

.textarea__resultado-encriptado {
    width: 99%;
    position: absolute;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    bottom: 0;
    border-radius: 1px 1px 33px 32px;
    font-size: 29px;
    resize: none;
    color: #0A3871;
    border: none;
    background-color: rgba(255, 255, 255, 0.378);
    -webkit-user-select: none;
    user-select: none;
}

.textarea__resultado-encriptado::placeholder {
    font-size: 22px;
    color: #0A3871;
}

.textarea__resultado-encriptado {
    outline: none;
}

.textarea__resultado-encriptado::placeholder {
    text-align: center;
}

.div__p-imagen--encriptador {
    margin-top: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#mensaje {
    display: none;
    transition: all 0.5s ease-in-out;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: rgb(0, 65, 122);
    border: solid;
    border-style: groove;
    border-radius: 20px;
    padding: 5px 10px;
}
.img_svgalerta-encriptador{
    margin-right: 5px;
}

.p__condicion-encriptador {
    transition: all 1s ease-in-out;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.div__containerbotones-encriptador {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button__encriptar-encriptador {
    transition: all 1s ease-in-out;
    height: 67px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    background-color: #0A3871;
    color: white;
    border: solid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: lightgrey;
    border-width: 2px;
    cursor: pointer;
}

.button__desencriptar-encriptador {
    transition: all 1s ease-in-out;
    height: 67px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    color: #0A3871;
    border-color: #0A3871;
    border: solid;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    /* border-color: rgb(25, 113, 255); */
    cursor: pointer;
}

.div__botoncopiarcontainer-encriptador {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button__copiar-encriptador {
    transition: all 1s ease-in-out;
    height: 67px;
    width: 343px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    background-color: white;
    border: solid;
    font-size: 1.4rem;
    color: #0A3871;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    cursor: pointer;
}
