.img__FondoBinario{
    transition: all 800ms ease-in-out;
    width: 100%;
    height: 102vh;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: scale(1);
}
.div__containerButtonIdioma{
    display: flex;
    justify-content: center;
}
.img__flag{
    transition: all 1s ease-in-out;
    width: 40px;
    position: absolute;
}
.sobreHeader {
    /* height: 96px; */
    /* width: 100%; */
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 21px;
}
.img__vector-headerBlanco{
    transition: all 1s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 16px;
    z-index: 3;
}
.div__containerElementosHeader{
    display: flex;
    justify-content: space-between;
}

.div__containerImgCambiarColor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    border-radius: 20px;
    margin-right: 12px;
    position: relative;
    right: 0 px;
}
.img__cambiarColor{
    transition: all 1s ease-in-out;
    width: 20px;
    height: 20px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(255, 236, 116);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    right: -37px;
    /* position: relative;
    right: -30px; */

}
.img__cambiarColor:active{
    transform: scale(0.5);
}
.colorFondoBody{
    transition: all 1s ease-in-out;
    /* background-color: #4b4b4b; */
    background-color: rgb(251, 254, 255);
    /* background-color: ; */

}
.p__modoColor{
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    top: 6px;
    font-family: sans-serif;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    opacity: 0;
}
